body {margin:0;
background-image: url('background.avif');
     padding-bottom:70px}
.hd {background-color:#f7e481;}
.tracklist li {
  cursor: pointer;
  padding: 8px;
  margin: 4px 0;
  background: #f0f0f0;
  border-radius: 2px;
  transition: 0.2s;
  list-style-type: none;
  margin-left: 15%;
  margin-right: 20%
}
.tracklist li:hover {
  background: #ddd;
}
#player {
    position: fixed;
    bottom: env(safe-area-inset-bottom, 0px); /* если нет safe area, то 0 */
    left: 10%;
    width: 80%;
}
@media (max-width: 768px) {
    #player {
        position: fixed;
        bottom: 10px;      /* небольшой отступ снизу, чтобы не уходил за экран */
        left: 5%;          /* чуть меньше отступы по бокам */
        width: 90%;        /* ширина 90% */
        right: auto;
        /* дополнительные страховки */
        margin: 0 auto;
        display: block;
    }
